* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  font-weight: 400;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

.logo {
  max-width: 200px;
  height: 60px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  color: #fff;
}

.logo img {
  object-fit: cover;
  width: auto;
  height: 100%;
}

.logo h1 {
  position: absolute;
  top: 1.25rem;
  left: 60px;
  font-size: 18px;
}

.arrow-down {
  position: relative;
  right: 0;
  top: 65%;
  color: #999;
  margin-top: 4px;
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: "";
  transition: transform .3s;
}

.arrow--up {
  position: relative;
  right: 0;
  top: 65%;
  color: #999;
  margin-top: 4px;
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: "";
  transform: rotate(180deg);
}
